/*! Fonts */

@font-face {
    font-family: "Poppins-Light";
    src: url(/fonts/Poppins-Light.ttf);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins-Light";
}
html{
    height: 100%;
}

body{
    background-image: linear-gradient(#1F1D36 20%,#3F3351 80%);
}

/* ! main contenedor */

/* todo: Estilos Contenedor Principal */

.main__content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contenedor{
    margin-top:5em;
    width: 80%;
    height: 40em;
    display: flex;
    justify-content: center;
}

/* ! Contenedor navegación */

/* todo: Estilos Navegación*/

.nav{
    position: relative;
    top:25%;
    left: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 290px;
    background-color: #072b37;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);
}

.nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.nav ul li{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    border-radius: 10px;
    width: auto;
    height: 60px;
}

.nav ul li a:hover{
    background-color: #ffffff;
    border-radius: 6px;
}

.nav ul li a{
    position: relative;
    width: auto;
    text-decoration: none;
    color: #48cfcb;
    font-weight: 500;
}

.nav ul li a .icono{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 60px;
    text-align: center;
    transition: 0.8s;
}

.nav ul li a .copia{
    display: none;
}

.nav ul li:hover a .icono{
    color: #1183bf;
}

.nav ul li a .icono .fas{
    font-size: 24px;
    padding: 17px;
    text-align: center;
}

.nav ul li a .nav__item{
    position: absolute;
    color: #1183bf;
    top: 0px;
    right: 70px;
    z-index: 111;
    background-color:#fff;
    width: auto;
    padding:5px 10px;
    font-weight: 700;
    font-size: 20px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-15%) translateX(0px);
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.nav ul li:hover a .nav__item{
    transform: translateY(30%) translateX(-10px);
    visibility: visible;
    opacity: 1;
}

.nav ul li a .nav__item::before{
    content:"";
    position: absolute;
    top:44%;
    right: -10px;
    width: 12px;
    height: 12px;
    transform: rotate(45deg) translateX(-50%);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    
}

.icon-active{
    background-color: rgb(255, 255, 255);
    color: #1183bf;
    border-radius: 6px;
}

/* ! Contenedor Presentacion */ 

/* Todo: Estilos Contenedor Presentacion */

.contenedor__presentacion{
    position: relative;
    top: -1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #072b37;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);
    height: 43em;
    width: 42em;
}

/* Todo: Estilos Foto */

.contenedor__presentacion__img{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 20em;
    background-image: url("../img/presentacionCabecera.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom: 7px solid rgb(6, 235, 178);
    clip-path: polygon(0 1%, 100% 0, 100% 74%, 75% 100%, 25% 100%, 0 75%);
}

.contenedor__foto{
    position: absolute;
    top: 14em;
    width: 12em;
    height: 10em;
    background-image: url("../img/img.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50% 50%;
    border-bottom: 5px solid rgb(21, 22, 22);
    z-index: 100;
}

/* Todo: Estilos Descripcion */

.descripcion{
    text-align: center;
    margin-top: 5em;
    color: #48cfcb;
}

.descripcion h3{
    font-size: 1.2rem;
    margin: 5px;
    color: #48cfcb;
}

/* Todo: Estilos Social Liks */

.social{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20em;
    height: 4em;
}

.social__link{
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: rgba(139, 138, 138, 0.25) 0px 6px 10px;
    width: 100%;
    height: 100%;
    font-size: 1.3em;
    color: rgb(255, 255, 255);
}

.social__link:hover{
    transition: 0.4s;
    color:rgb(9, 119, 106);
    font-size: 2em;
    box-shadow: #48cfcb 0px 2px 8px;
    background-color: rgba(110, 255, 207, 0.664);
}

/* Todo: Estilos de Contactos */

.contacto{
    padding-top: 20px;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.contacto span{
    color: rgb(185, 185, 185);
}
/* ? Version mejorada 
.contacto strong{
    cursor: pointer;
}

.copiado{
    opacity: 0;
    background-color: #000;
    width: auto;
    height: auto;
    color: #fff;
}

.copiado-active{
    opacity: 1;
}
*/
/* ! Contenedor Contenidos */

/* Todo: Estilos Contenedor Contenidos */

.contenedor__contenido{
    width: 0em;
    height: 100%;
    background-color: rgb(24, 23, 23);
    transition: width .5s;
    display: block;
    overflow-x: hidden;
}

.contenedor__contenido-active{
    width: 50em;
    transition: width 1s;
}

/* todo Scroll Estilos */

.contenedor__contenido::-webkit-scrollbar {
    -webkit-appearance: none;
}

.contenedor__contenido::-webkit-scrollbar:vertical {
    width:10px;
    height: 5px;
}

.contenedor__contenido::-webkit-scrollbar-button:increment,.contenedor__contenido::-webkit-scrollbar-button {
    display: none;
} 

.contenedor__contenido::-webkit-scrollbar-thumb {
    background-color: #31d9f0;
    border-radius: 20px;
}

.contenedor__contenido::-webkit-scrollbar-track {
    border-radius: 10px;  
}

/* ! Sección Proyectos */

/* TODO: Estilos Videos */

.videos{
    display: flex;
    width:100%;
    min-height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #072b37;
}

.proyectosCabecera{
    background-color: rgb(24, 23, 23);
    width: 100%;
    height: 14em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.proyectosCabecera > h1{
    text-align: left; 
    font-size: 60px; 
    color: #ffffff; 
}


.video{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.video .titulo{
    position:relative;
    margin: 20px 0px 5px 8px;
    font-size: 2.2em;
    padding: 0 10px;
    font-weight: 500;
    transform-origin: left;
    transform: scaleX(0);
    transition: 1s;
    transition-delay: 0s;
    opacity: 0;
}

.video .titulo:nth-child(1){
    color: #48cfcb;
}

.video .titulo:nth-child(2){
    color: rgb(59, 146, 245);
}

.video .titulo-active{
    transform: scaleX(1);
    transition-delay: 0s;
    opacity: 1;
}

.video .titulo-active::before{
    transform: scaleX(0);
    transition: 2s;
}

.video .titulo::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: right;
    transition: .5s;
    background-color: #48cfcb;
}

.video .titulo:nth-child(2)::before{
    background-color: rgb(59, 146, 245);
}

.video .titulo:nth-child(2){
    margin-left: 10px;
    margin-top: 5px;
    font-weight: 300;
    font-size: 1.5em;
    letter-spacing: 2px;
    display: inline-block;
}

.video .iframe{
    display: block;
    position: relative;
    margin: 15px;
    margin-bottom: 1em;
    opacity: 0;
    transition: .5s;
    left: 100px;
}

.video .video-active{
    left: 0px;
    opacity: 1;
}


.video a{
    font-size: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-bottom: 2em;
}

.video a:hover{
    color: #48cfcb;
}

/* ! Sección CV */

/* TODO: Estilos Formación */

.formacion{
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 50vh;
    background-color: rgb(24, 23, 23);
}

.divListas{
    position: relative;
}

.formacion h1{
    position: relative;
    color: rgb(255, 255, 255);
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 30px;
}

.divListas strong{
    color: #fff;
    font-size: 19px;
}

.divListas ul{
    position: relative;
}

.divListas ul li{
    position: relative;
    left: 0;
    color: rgb(228, 243, 255);
    list-style: none;
    margin: 4px 0;
    border-left: 5px solid #48cfcb;
    cursor: pointer;
    transition: 0.5s;
}

.divListas ul li::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #48cfcb;
    transform: scaleX(0);
    transform-origin: left;
    z-index: 1;
    transition: 0.5s;
}

.divListas ul li:hover::before{
    transform: scaleX(1);
}

.divListas ul li:hover{
    left: 10px;
}

.divListas ul li span,strong{
    position: relative;
    padding: 8px;
    display: inline-block;
    z-index: 11;
    transition: 0.5s;
}

.divListas ul li span{
    font-size: 17px;
}

.divListas ul li:hover span{
    color: #111;
}

.divListas ul li:hover strong{
    color: rgb(0, 0, 0);
}

/* TODO: Estilos Habilidades */

.habilidades{
    padding-top: 3em;
    background-color: #072b37;
}

.habilidades h1{
    margin-top: 20px 0 20px 0;
    text-align: center;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 30px;
    color: #ffffff;
}

.tecnologias{
    position: relative;
    padding: 30px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:flex-start;
    flex-direction: row;
}

.tecnologias h1{
    width: 100%;
}

.tecnologias .carta{
    position: relative;
    width: 250px;
    background: linear-gradient(0deg,#3b3c3d,rgb(28, 34, 32),#3b3c3d);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    margin-bottom: 40px;
    transition: 0.5s;
    opacity: 1;
}

.tecnologias .carta:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0,0,0,.5);
}

.tecnologias .carta::before{
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255,.3);
    pointer-events: none;
    z-index: 1;
}

.textoT-active{
    opacity: 1;
}

.porcentaje{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: inset 0 0 50px #000;
    background-color: #222;
    z-index: 1000;
}

.porcentaje .numero{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.porcentaje .numero h2{
    color: rgb(163, 163, 163);
    font-weight: 700;
    font-size: 40px;
    transition: 0.5s;
}

.carta:hover .porcentaje .numero h2{
    color: rgb(255, 255, 255);
    font-size: 50px;
}

.porcentaje .numero h2 span{
    font-size: 24px;
    color: rgb(163, 163, 163);
    transition: .5s;
}

.carta:hover .porcentaje .numero h2 span{
    color: rgb(255, 255, 255);
}

.texto{
    position: relative;
    color: rgb(163, 163, 163);
    margin-top: 20px;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s;
}

.carta:hover .texto{
    color: rgb(255, 255, 255);
    font-size: 18px;
}

svg{
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 100;
}

svg circle{
    width: 100%;
    height: 100%;
    fill: none;
    stroke:rgba(214, 214, 214, 0.835);
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px,5px);
}

svg circle:nth-child(2){
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

.tecnologias .carta svg circle:nth-child(2){
    stroke: #31d9f0;
}

.tecnologias0 .carta:nth-child(1) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 90) / 100);
}

.tecnologias0 .carta:nth-child(2) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 70) / 100);
}

.tecnologias0 .carta:nth-child(3) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 50) / 100);
}

.tecnologias1 .carta:nth-child(1) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 90) / 100);
}

.tecnologias1 .carta:nth-child(2) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 70) / 100);
}

.tecnologias1 .carta:nth-child(3) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 90) / 100);
}

.tecnologias1 .carta:nth-child(4) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 80) / 100);
}

.tecnologias2 .carta:nth-child(1) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 90) / 100);
}

.tecnologias2 .carta:nth-child(2) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 70) / 100);
}

.tecnologias2 .carta:nth-child(3) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 90) / 100);
}

.tecnologias3 .carta:nth-child(1) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 90) / 100);
}

.tecnologias3 .carta:nth-child(2) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 70) / 100);
}

.tecnologias3 .carta:nth-child(3) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 90) / 100);
}

.tecnologias3 .carta:nth-child(4) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 80) / 100);
}

.tecnologias3 .carta:nth-child(5) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 90) / 100);
}

/* todo: estilos experiencia */

.experiencia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experiencia{
    background-color: rgb(24, 23, 23);
}

.experiencia h1{
    padding: 17px;
    font-size: 28px;
    color: #fff;
}

.experiencia ul{
    height: 100px;
    margin-top: 10px;
}

.experiencia h2{
    color: #fff;
    font-size: 20px;
    margin-top: 30px;
}

.experiencia li{
    list-style: none;
    list-style-type: circle;
    margin-top: 15px 0 0 10px;
    font-size: 18px;
    color: #fff;
}

.experiencia a{
    color: aqua;
    text-decoration: none;
    margin-bottom: 30px;
    font-size: 25px;
}

/* ! Contenedor Sobre Mi */

/* todo: Estilos sobre mi */

.about{
    background-color: rgb(24, 23, 23);
    color: #fff;
    padding-bottom: 60px;
    padding-top: 40px;
    width: 100%;
    min-height: 100%;
    max-height: auto;
}

.about fieldset{
    display: flex;
    background-color: rgb(32, 31, 31);
    justify-content: start;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    height: auto;
    width: auto;
    margin: 0px 30px 0px 30px;
    overflow-x: hidden;
    border-color: #31d9f0;
}

fieldset p{
    margin: 20px 100px 30px 100px;
    height:auto;
    font-size: 1.5rem;
    text-align: justify;
}

legend h1{
    color: #31d9f0;
}

/*! eliminar publicidad*/

img[alt="www.000webhost.com"]{
    display: none;
}

/* 
---------------------------------------------
.autor
--------------------------------------------- 
*/

footer {
    text-align: center;
    margin: 4em 0px 30px 0px;
}

footer p {
    color: #fff;
    font-size: 13px;
}

footer p a {
    cursor: pointer;
    color: #31d9f0;
    text-decoration: none;
}

footer p a:hover {
    color: #31d9f0;
}

/* ! Version tablet */

@media (max-width: 1737px) { 
    .nav{
        position: absolute;
        top: 6%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin: 0;
        padding: 20px 0;
        border-radius: 10px;
        box-shadow: 0 10px 30px rgba(255, 255, 255, 0.3);
        z-index: 11111;
        width: 25em;
        height: 4em;
    }

    .nav ul{
        display: flex;
        flex-direction: row;
    }

    .nav ul li{
        list-style: none;
        text-align: center;
        display: block;
    }

    nav ul li:first-child{
        border-right:none;
    }

    .nav ul li a{
        display: block;
        background-color: transparent;
    }

    .nav ul li a .copia{
        display: block;
    }

    .nav ul li a .icono{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        text-align: center;
        overflow: hidden;
        height: 50px;
        margin: 0 auto 10px;
        border-radius: 10px;
        background-color: #072b37;
    }

    .nav ul li a .icono .fas{
        line-height: 20px;
        font-size: 26px;
        transition: 0.5s;
        color: #48cfcb;
    }
    .nav ul li a:hover .icono .fas{
        transform: translateY(-100%);
    }

    .nav ul li a:hover .icono .fas:last-child{
        color: #ffffff;
    }

    .nav ul li a .nav__item{
        position: relative;
        height: auto;
        right: 0;
        width: 100%;
        display: block;
        line-height: 20px;
        transition: 0.5s;
    }

    .nav ul li a .nav__item::before{
        content: none;
    }

    .nav ul li a:hover .nav__item{
        transform: translateY(0px);
    }

    .nav ul li a:hover{
        background-color: transparent;
    }

    .icon-active .nav__item{
        opacity: 1 !important;
        visibility: visible !important;
    }
}

/* ! Version ipad */
@media (max-width: 1410px) {

    .contenedor__presentacion{
        width: 42em;
    }

    .contenedor__contenido-active,.contenedor__contenido{
        position: absolute;
        z-index: 111;
    }

    .contenedor__contenido{
        height: 0em;
        width: 42em;
    }
    
    .contenedor__contenido-active{
        height: 43em;
        width: 42em;
        /*transition: 1s;*/
    }

    .proyectosCabecera{
        height: 13em;
    }

    .proyectosCabecera h1{
        font-size: 30px;
    }

    .habilidades .tituloT{
        transition: 1s;
        position: relative;
        left: -200px;
        opacity: 0;
    }
    
    .habilidades .textoT-active{
        opacity: 1;
        left: 0;
    }

    .tecnologias .carta{
        opacity: 0;
        top: 200px;
    }

    .tecnologias .carta-active{
        top: 0;
        opacity: 1;
    }
}

/* ! Version móvil */
@media (max-width: 699px) {

    .contenedor{
        width: 100% !important;
        height: 100%;
        margin-top: 8em;
    }

    .contenedor__presentacion{
        width: 100% !important;
    }

    .contenedor__contenido{
        width: 100% !important;
    }

    .contenedor__contenido-active{
        width: 100% !important;
        height: 100%;
    }
    
    .proyectosCabecera{
        height: 12em;
    }
    
    .proyectosCabecera > h1{
        font-size: 50px; 
    }
    
    
    .video .titulo{
        font-size: 1.5em;
    }

    .nav{
        margin-top: 3em;
        width: 100%;
    }
    
    .video .titulo:nth-child(2){
        font-weight: 200;
        font-size: 1.3em;
        letter-spacing: 1px;
    }

    .video .iframe{
        width: 25em;
    }
    
    .video a{
        font-size: 22px;
    }
    
    
    .divListas{
        width: 20em;
        margin: 0;
        padding: 0;
    }
    
    .formacion h1{
        margin-top: 2em;
        font-weight: 500;
        letter-spacing: 2px;
        font-size: 20px;
    }
    
    .divListas strong{
        color: #fff;
        font-size: 16px;
    }

    .divListas ul li span{
        font-size: 16px;
    }
    
    .habilidades h1{
        font-size: 28px;
    }
    
    .tecnologias{
        position: relative;
        padding: 30px;
        width: 100%;
    }
    
    .tecnologias .carta{
        width: 230px;
        height: 260px;
    }
    
    .porcentaje .numero h2{
        font-size: 28px;
    }
    
    .carta:hover .porcentaje .numero h2{
        font-size: 35px;
    }
    
    .porcentaje .numero h2 span{
        font-size: 19px;
    }
    
    .texto{
        font-size: 14px;
    }
    
    .carta:hover .texto{
        font-size: 17px;
    }
    
    .experiencia h1{
        font-size: 25px;
    }
    .experiencia h2{
        color: #fff;
        font-size: 17px;
        margin-top: 20px;
    }
    
    .experiencia ul{
        width: 20em;
    }

    .experiencia li{
        list-style: none;
        list-style-type: circle;
        font-size: 15px;
        color: #fff;
    }
    
    .experiencia a{
        color: aqua;
        text-decoration: none;
        margin-bottom: 30px;
        font-size: 25px;
    }

    .about{
        padding: 40px 10px 40px 10px;
    }
    
    fieldset p{
        margin: 20px 40px 30px 40px;
        height:auto;
        font-size: 1rem;
        text-align: justify;
    }

    legend h1{
        font-size: 25px;
        margin-left: 20px;
    }

    .contacto{
        font-size: 18px;
    }
}